
INSTALLING THE REWARDIFY ENVIRONMENT
====================================

INTO PATH:
{{ '\033[1m' }}{{ path }}{{ '\033[0m' }}

INSTALLATION CONTAINS:
{{ '\033[1m' }}- config.py{{ '\033[0m' }}:  This file will contain all the necessary configuration for your installation of rewardify, such
as what kind of database to be used (the credentials for the latter), what types of packs and rewards are available and
what kind of backend will be used to grant gold for the users.
{{ '\033[1m' }}- rewardify.db{{ '\033[0m' }}:  This will contain a sqlite database, which is already configured to have all the necessary
tables. It is encouraged to use an sqlite database for personal installations

{{ '\033[32;1m' }}INSTALLATION FINISHED{{ '\033[0m' }}

