
{{ '\033[32;1m' }}USER AUTHENTICATED{{ '\033[0m' }}
{{ '\033[32;1m' }}=================={{ '\033[0m' }}

Welcome, {{ '\033[1m' }}{{ username }}{{ '\033[0m' }}!

(*) To update your inventory's gold run the "rewardify update" command and earn the rewards of your
hard work!

