
{{ '\033[1m' }}AVAILABLE PACKS{{ '\033[0m' }}
{{ '\033[1m' }}==============={{ '\033[0m' }}

{% for pack in packs %}
{{ '\033[1m' }}{{ pack.name }}{{ '\033[0m' }}
    cost:           {{ pack.cost }}
    description:    {{ pack.description }}
    probabilities:  {{ pack['1'] }}

{% endfor %}

