
{{ '\033[33;1m' }}YOU CAN NOT USE THAT{{ '\033[0m' }}
{{ '\033[33;1m' }}===================={{ '\033[0m' }}

You attempted to use {{ name }}, but it seems, that you dont have any of that type in your
inventory...

Buy an {{ name }}, and try again!

