
{{ '\033[33;1m' }}YOU CANNOT BUY THAT{{ '\033[0m' }}
{{ '\033[33;1m' }}==================={{ '\033[0m' }}

You attempted to buy {{ object }}, which costs {{ cost }}, but you currently only
have {{ balance }} in your inventory...

Keep on working hard, and soon you will be able to afford it!

