
{{ '\033[31;1m' }}REWARD PURCHASE COMPLETED{{ '\033[0m' }}
{{ '\033[31;1m' }}========================={{ '\033[0m' }}

Congratulations! You have purchased one reward of the type {{ name }} for the cost of {{ cost }}

