
{{ '\033[32;1m' }}REWARD USED{{ '\033[0m' }}
{{ '\033[32;1m' }}==========={{ '\033[0m' }}

Congratulations! You have just used {{ count }} rewards of the type {{ name }}!

This gives you the permission to perform the following action according to the rewards description:

DESCRIPTION
{{ description }}

