
{{ '\033[31;1m' }}REWARD RECYCLED{{ '\033[0m' }}
{{ '\033[31;1m' }}==============={{ '\033[0m' }}

You have just recycled one reward of the type {{ name }}.

A total of {{ recylce }} has been added to your inventory!

